body {
  background-color: 
  #51558a;
  font-family: 'Montserrat', sans-serif;
}

/* Scrollbar CSS */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(10, 221, 193); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.navbar-nav {
  margin-left: 0;
  background-color:#403c70;
  border-radius: 10px;
  width: 100%;
}
.nav-item {
  margin-right: 1rem;
  margin-left: 1rem;
  vertical-align: middle;
  display: flex;
}

.nav-item a {
  align-self: center;
  width: 6rem;
  height: 2.5rem;
  margin: 1rem auto;
  padding: 8px;
  vertical-align: middle;
}

.nav-item input {
  align-self: center;
  width: 20rem;
  height: 2.5rem;
  margin: 0 auto;
  padding: 0;
  vertical-align: middle;
}

#home-trending-button {
  cursor: pointer;
  text-align: center;
  color: aquamarine;
  transition: 500ms;
}

#home-trending-button:hover {
  color: black;
}

#home {
  width: 8rem;
  height: 3rem;
  padding: 0;
  display: flex;
}

#search {
  text-indent: 1rem;
  background-color: transparent;
  border-radius: 2rem;
  border-color: rgb(95, 209, 139);
  transition: 500ms;
}

#search:focus {
  background-color: rgba(240, 255, 255, 0.163);
  border-color: azure;
  border-radius: 1rem;
  color: rgb(95, 209, 139);
  box-shadow: 0 0 0 transparent;
}

#trending-button {
  border: 1px solid aquamarine;
  border-radius: 1rem;
  text-align: center;
  color: aquamarine;
  transition: background-color 500ms;
}

#trending-button:hover {
  color: black;
  background-color: aquamarine;
}

#favorites-button {
  border: 1px solid aqua;
  border-radius: 1rem;
  text-align: center;
  color: aqua;
  transition: background-color 500ms;
}

#favorites-button:hover {
  color: black;
  background-color: aqua;
}

#upload-button {
  border: 1px solid azure;
  border-radius: 1rem;
  text-align: center;
  color: azure;
  transition: background-color 500ms;
}

#upload-button:hover {
  color: black;
  background-color: azure;
}


#preview-gif{
  display: none;
  width: 100%;
}

.main-menu {
  list-style: none;
  padding: 0px;
  display: flex;
  margin: 25px;
  overflow: visible;
  border-radius: 9px;
  position: relative;
}

ul.main-menu li {
  position: relative;
  display: list-item;
  text-align: -webkit-match-parent;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.root {
  width: 80%;
  margin: 0 auto;
}

/* MASONRY */

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

#masonry {
  position: relative;
}

#heart {
  height: 2rem;
  width: 2rem;
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 2;
}

#heart:hover {
  cursor: pointer;
  opacity: 1 !important;
}

#upload-form-outer{
  background-image: url(../img/wave-haikei\ \(1\).svg);
  position: relative;
  margin: auto auto;
  display: flex;
  width: 60%;
  height: 600px;
  border-radius: 9%;
  padding: 30px 20px 30px;

}

#upload-form-view{
  display: flex;
  position: static;
  margin: auto auto;
  width: 60%;
  height: auto;
  min-height: 80%;
  border: 5px solid #7ee7d7 ;
  border-radius: 9%;
  padding: 20px 20px;
  align-content:center;
}

#upload-heading{
  padding: 10px 10px;
  float: left;
  color: #7ee7d7;
  width: 80%;
}

#preview-gif{
  border-radius: 10%;
  width:300px;
  min-height: 100px;
}
  
#submit-gif-button{
  position:relative;
  display: flex;
  border: 1px solid #6ba6b4;
  border-radius: 20%;
  width: auto;
  height: auto;
  background-color: #536190;
  color:#7ee7d7;
}

#gif-file{
  font-size: 15px;
  background: #536190;
  border-radius: 30px;
  border: 1px solid #6ba6b4;
  width: 60%;
  height: auto;
  outline: none;
}

/* Main CSS */
.grid-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.625rem;
}

.grid-wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
  padding-bottom: 10px;
  max-width: 1400px;
  margin: 0 auto;
}
.grid-wrapper .wide {
	grid-column: span 2;
}
.grid-wrapper .tall {
	grid-row: span 2;
}
.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}

.img-fluid:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.5s;
  z-index: 1;
}

.gif-preview-container{
  border-radius: 10%;
  margin: 5% 0%;
  min-height: 50%;
  width:70%;
  border: 2px solid #7ee7d7;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #7ee7d7;
}

::-webkit-file-upload-button{
  color:#536190;
  background: #7ee7d7;
  padding:2.6px 11px;
  border: none;
  border-radius: 30px;
  border: 0px solid #6ba6b4;

  /* height: 30px;
  width: 60; */
  outline: none;
}

::-webkit-file-upload-button:hover{
  background-color:#acf1e7 ;
  cursor:pointer;
}
  
.root {
  width: 100%;
  margin: 0 auto;
}

.nav-link {
  vertical-align: middle;
}

/* COOL CARD VIEW */

.card {
  background: url("https://images.unsplash.com/photo-1574007557239-acf6863bc375?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 700px;
  position: relative;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
  margin: 0 auto;
}

.card .card__info {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20%;
  display: flex;
  align-items: flex-end;
  padding: 15px 30px;
  color: #fff;
}

.card .card__info span {
  margin-right: 20px;
}

.card .card__info i {
  margin-right: 10px;
}

.card .card__profile {
  background-color: #e4f2fd;
  display: flex;
  align-items: center;
  padding: 20px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

.card .card__profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  margin-right: 10px;
}

.card .card__profile h2 {
  color: #334454;
  font-size: 1.2rem;
}

.card .card__profile p {
  color: #a1b2bc;
  font-size: 0.8rem;
}

.card .card__profile p b {
  font-style: italic;
}

.remove-favorite-button {
  opacity: 0.4;
}

.add-favorite-button {
  opacity: 0.4;
}

.remove-favorite-button:hover {
  opacity: 1;
  transition: opacity 0.4s;
}

.add-favorite-button:hover {
  opacity: 1;
  transition: opacity 0.4s;
}

.favorite-image {
  width: 30%;
  height: 100%;
  object-fit:cover;
  -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
  transform-origin:center;
  transform:perspective(800px) rotateY(25deg);
  transition:0.5s;
}

.col {
  max-width:600px;
  max-height:350px;
  display:inline;
  justify-content:center;
  align-items:center;
  gap:20px;
}

.col:hover img {
  opacity:0.3;
}

.col .favorite-image:hover {
  transform:perspective(800px)       rotateY(0deg);
  opacity:1;
}
